*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

body {
    ///color: $text-color;
    font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans JP', sans-serif;
    // "Segoe UI"
}

main {
    margin-bottom: 6rem;
    margin-top: 7rem;
    
    // flex: 1;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
}

#app{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

header{
    z-index: 3;
    position: relative;
}
