.momomo {
    background-image: url("/image/party.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

    min-height: 100vh;
    position: relative;
    padding-bottom: 60px;
    box-sizing: border-box;
}
